<table>
  <tbody>
  <% attributes.each do |key, value| %>
    <tr>
      <td>
        <%= key %>
      </td>
      <% if value.is_a?(Array) && value.size == 2 %>
        <td>
          <%= value.first.inspect %>
        </td>
        <td>
          <span class='grey-text'>
            =>
          </span>
        </td>
        <td>
          <%= value.last.inspect %>
        </td>
      <% else %>
        <td>
          <%= value.inspect %>
        </td>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
