<table>
  <tbody>
  <% attributes.each do |key, value| %>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
      <% if value.is_a?(Array) && value.size == 2 %>
        <%= value.first.inspect %>
        <span class='grey-text'>
          =>
        </span>
        <%= value.last.inspect %>
      <% else %>
        <%= value.inspect %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
